.sidebar{
  position:fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width:72px;
  background-color: white;

  z-index: 200;

  cursor: pointer;
}
.sidebar-link{
  height:74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.sidebar-link:hover{
  background-color: rgb(228, 223, 223);
}

.sidebar-link img {
 height: 24px;
 margin-top: 4px;
 margin-bottom: 5px;
}

.sidebar-link div{
 font-size: 10px;
}